

                
                <a class="brand-logo"> At <span>{[lugar.formatted_address]}</span></a>
                <ol class="breadcrumb">
                  <li><a href="#">Continental</a></li>
                  <li><a href="#">Countries</a></li>
                  <li><a href="#">City</a></li>
                  <li class="active">Place</li>
                </ol>
            <section id="overview" class="offer section-wrapper" >
                <div sticky confine="true" >
                    <nav>
                        <ul>
                          <li><a href="#overview" du-smooth-scroll du-scrollspy>Overview</a></li>
                          <li><a href="#destinations" du-smooth-scroll du-scrollspy>Destinations</a></li>
                          <li><a du-smooth-scroll="climate" du-scrollspy>Climate</a></li>
                          <li><a du-smooth-scroll="things-to-do" du-scrollspy>Things to do</a></li>
                          <li><a du-smooth-scroll="places-to-go" du-scrollspy>Places to go</a></li>
                          <li><a du-smooth-scroll="places-to-stay" du-scrollspy>Places to stay</a></li>
                        </ul>
                      </nav>
               </div>
          <!-- <div class="top-places" id="overview" ui-view>

          </div> -->

          <section id="overview" class="sections">
            <h2>Overview </h2>
            <p>Bacon ipsum dolor sit amet sausage tail capicola ground round hamburger ham hock. Short ribs pig andouille meatball, pastrami tri-tip fatback ham hock shank kielbasa swine. Rump pancetta jerky kielbasa doner beef ribs tongue hamburger strip steak drumstick andouille shoulder shank flank. Swine drumstick meatball pig beef sausage strip steak.</p>

            <img src="http://lorempixel.com/300/400/" alt="" />
          </section>

          <section name="destinations" class="sections">
            <h2>Destinations</h2>
            <div class="top-places">
                        <div class="row">
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x300" alt="">
                                <div class="caption">
                                    
                                    <h4><a href="#">Paris</a>
                                    </h4>
                                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">12 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x300" alt="">
                                <div class="caption">
                                    
                                    <h4><a href="#">Italy</a>
                                    </h4>
                                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">12 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                          <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x300" alt="">
                                <div class="caption">
                                    
                                    <h4><a href="#">Island</a>
                                    </h4>
                                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">13 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Show More...</a>
                        </h4>
                    </div> <!-- /.row -->
                </div>
          </section>

  <section name="climate" class="sections">
    <h2>Climate</h2>
    <p>Bacon strip steak ground round, tongue pastrami short ribs pork chop venison turducken sausage sirloin. Flank chicken pork chop capicola turkey turducken cow pork loin biltong meatball drumstick pancetta filet mignon ground round fatback. Ham hock jerky short ribs brisket. Meatloaf shoulder pork chop capicola, sirloin swine pig pork. Jerky ribeye hamburger pork loin sirloin kevin bresaola boudin chuck flank. Ham hock pork belly chicken jerky rump bresaola.</p>
  </section>

  <section name="things-to-do" class="sections">
    <h2>Things to do</h2>
    <p>Bacon strip steak ground round, tongue pastrami short ribs pork chop venison turducken sausage sirloin. Flank chicken pork chop capicola turkey turducken cow pork loin biltong meatball drumstick pancetta filet mignon</p>
  </section>
  <section name="places-to-go" class="sections">
    <h2>Places to go</h2>
    <p>Bacon strip steak ground round, tongue pastrami short ribs pork chop venison turducken sausage sirloin. Flank chicken pork chop capicola turkey turducken cow pork loin biltong meatball drumstick pancetta filet mignon</p>
  </section>
   <section name="places-to-stay" class="sections">
    <h2>Places to stay</h2>
    <p>Bacon strip steak ground round, tongue pastrami short ribs pork chop venison turducken sausage sirloin. Flank chicken pork chop capicola turkey turducken cow pork loin biltong meatball drumstick pancetta filet mignon</p>
  </section>

    </section> <!-- /.offer -->
