
<h2 class="section-title">
                        Destination
                    </h2>
                    <div class="row">
                      <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                          <!-- <img src="/static/images/ab-1.png" 
                          alt="..."> -->
                          <div class="caption">
                            <h3>Nicaragua</h3>
                            <p>Travel 1</p>
                            <p><a class="btn btn-default" role="button">Mo2</a>
                                <a href="#" class="btn btn-primary" role="button"><i class="ion-paper-airplane"></i></a> </p>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                          <!-- <img src="/static/images/ab-2.png" alt="..."> -->
                          <div class="caption">
                            <h3>Africa</h3>
                            <p>Travel 1</p>
                            <p>
                                <a href="#" class="btn btn-default" role="button">Button</a>
                                <a href="#" class="btn btn-primary" role="button"><i class="ion-paper-airplane"></i></a>
                                 </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                          <!-- <img src="/static/images/ab-3.png" alt="..."> -->
                          <div class="caption">
                            <h3>Continent</h3>
                            <p>Travel 1</p>
                            <p><a href="#" class="btn btn-default" role="button">Button</a>
                                <a href="#" class="btn btn-primary" role="button"><i class="ion-paper-airplane"></i></a> </p>
                          </div>
                        </div>
                      </div>
                          <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                          <!-- <img src="/static/images/ab-4.png" alt="..."> -->
                          <div class="caption">
                            <h3>Asia</h3>
                            <p>Travel 1</p>
                            <p> <a href="#" class="btn btn-default" role="button">Button</a>
                                <a href="#" class="btn btn-primary" role="button"><i class="ion-paper-airplane"></i></a></p>
                          </div>
                        </div>
                      </div>
                    </div>